@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url(./mobile.css);
@import url(./tablette.css);

*{
    box-sizing: border-box;
    font-family: "Muli", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

#header{
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*position: sticky;*/
}

#header img{
    width: 100px;
    height: 60px;
}
#navbar{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-right: -4%;
}

#navbar li{
    list-style: none;
    padding: 0 20px;

}

#navbar a{
    position: relative;
    text-decoration: none;
    color: rgb(163, 163, 163);
    font-size: 18px;
    padding: 0 10px;
}

#navbar a:after{
    position: absolute;
    content: "";
    width: 0;
    height: 4px;
    background-color: blue; 
    left: 0;
    top: -40px;
    transition: .3s;
}

#navbar li a:hover{
    color: blue;
}

#navbar li a:hover:after{
    color: blue;
    width: 100%;
}

.content{
    padding: 5px 40px;
}

.p2{
    color: rgb(163, 163, 163);
}

.form{
    display: flex;
}

.form .posi{
    background-color: rgb(242, 242, 242);
    width: 40px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    white-space: nowrap;
}

.form input{
    height: 40px;
    font-size: 20px;
    border: 1px solid rgb(242, 242, 242);
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 18px;
}

.form .search2{
    display: none;
}

.form #search1{
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(0, 101, 252);
    width: 120px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 6px rgb(0, 101, 252);
    position: relative;
    height: 34px;
}

.form #input::placeholder{
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 20px; 
}

.ras2{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.ras2 .row{
    display: flex;
    margin-left: 60px;
    justify-content: space-between;
    width: 55vw;
}

.elt{
    display: flex;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 50px;
    width: 150px;
    height: 35px;
    align-items: center;
}

.ras2 .elt i{
    background-color: rgb(223, 236, 255);
    color: rgb(0, 101, 252);
    border-radius: 50px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 10px;
}

.ras2 .row p{
    padding-left: 10px;
    font-size: 0.7rem;
}

.col2{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.col2 p{
    padding-left: 10px;
    color: rgb(163, 163, 163);
}

.col2 i{
    border-radius: 50px;
    border: 1px solid rgb(198, 198, 198);
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 2px;
    color: rgb(0, 101, 252);
}

#marseille-hebergements{
    display: flex;
    gap: 30px;
}

#left-part{
    padding: 10px 30px 10px 30px;
    width: 70%;
    background: rgb(242, 242, 242);
    margin-top: 30px;
    border-radius: 30px;
}

#left-part #content-box{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#left-part #content-box .bloc{
    display: block;
    width: calc((100%/3) - 20px);
    height: 200px;
    background-color: #fff;
    padding: 3px;
    border-radius: 10px;
    transition: .3s ease;
    cursor: pointer;
}

#left-part #content-box .bloc .prix .euro{
    font-weight: bold;
}

#left-part #content-box .bloc:hover{
    box-shadow: 20px 20px 20px rgb(0, 0, 0, 0.06);
}

#content-box .bloc img{
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
}

#content-box a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#content-box .bloc *:not(img){
    margin-left: 10px;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

#content-box .bloc span:first-of-type{
    font-weight: bold;
    font-size: 1rem;
}

#content-box .bloc span:nth-of-type(2){
    font-size: 0.9rem;
}

#content-box .bloc div:first-of-type div:last-child .grey-icon{
    color: rgb(215, 215, 215);
}

#content-box .bloc div:first-of-type svg{
    width: 16px;
    height: 16px;
    margin: 0;
    color: rgb(31, 106, 252);
}

#content-box .bloc div .first2{
    color: rgb(215, 215, 215);
}

#right-part{
    margin-top: 30px;
    background: rgb(242, 242, 242);
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    position: relative;
    width: 40%;
}

#right-part h3{
    display: inline-block;
}

#right-part .right-icon{
    vertical-align: middle;
    width: 20px;
    position: absolute;
    top: 30px;
    left: 90%;
    height: 20px;
}

#content-box2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#content-box2 .bloc2{
    display: flex;
    width: 100%;
    height: 140px;
    background-color: #fff;
    padding: 3px;
    border-radius: 10px;
    transition: .3s ease;
    cursor: pointer;
}

#content-box2 .bloc2:hover{
    box-shadow: 20px 20px 20px rgb(0, 0, 0, 0.06);
}

#content-box2 .bloc2 img:first-child{
    width: 40%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

#content-box2 .bloc2 div:first-of-type{
    width: 60%;
    padding: 10px;
    position: relative;
}

#content-box2 .bloc2 div:first-of-type *{
    display: inline-block; 
    width: 100%;
}

#content-box2 .bloc2 div:first-of-type div:first-child{
    font-weight: bold;
    font-size: 1rem;
}

#content-box2 .bloc2 div:first-of-type div:nth-child(2){
    font-size: 0.9rem;
    margin-top: 10px;
}

#content-box2 .bloc2 div:first-of-type div:last-child{
    position: absolute;
    left: 0;
    padding-bottom: 0;
    bottom: 5px;
}

#content-box2 .bloc2 div:first-of-type div:last-child .first{
    color: rgb(215, 215, 215);
}

#content-box2 .bloc2 div:first-of-type div:last-child i{
    width: 14px;
    height: 14px;
    margin: 0;
    color: rgb(31, 106, 252);
}

#marseille-activities{
    margin-top: 50px;
}

#content-activities{
    display: flex;
    gap: 30px;
}

#content-activities .flex{
    width: calc(100% / 4);
    height: 350px;
    color: #000000;
    border-radius: 15px;
    transition: .3s ease-in-out;
    transition-duration: 1s;
    cursor: pointer;
    text-decoration: none;
}

#content-activities a:hover{
    box-shadow: 20px 20px 20px rgb(0, 0, 0, 0.06);
}

.flex:first-child, .flex:nth-child(3), .flex:nth-child(2) a:first-child, .flex:nth-child(2) a:last-child, .flex:last-child a{
    box-shadow: 1px 0 3px 0 rgba(158, 158, 158, 1);
}

.flex img{
    width: 100%;
    height: 86%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    display: block;
}

.flex p{
    font-weight: bold;
    margin-left: 15px;
    display: inline-block;
}

.flex:nth-child(2), .flex:last-child{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.flex a{
    text-decoration: none;
    color: #000000;
}

.flex:nth-child(2) a, .flex:last-child a{
    border-radius: 15px;
}

.flex a:first-child{
    height: 51.5%;
}

.flex a:first-child img{
    height: 75% !important;
}

.flex a:last-child img{
    height: 65% !important;
}

.flex:nth-child(2) a:last-child{
    height: 40%;
}

.flex:last-child a:first-child{
    height: 45%;
}

.flex:last-child a:last-child{
    height: calc(55% - 30px);
}

.flex:last-child a:first-child img{
    height: 70% !important;
}

.flex:last-child a:last-child img{
    height: 70% !important;
}

footer{
    display: flex;
    padding-left: 40px;
    background-color: rgb(242, 242, 242) ;
    justify-content:flex-start;
    padding-top: 30px;
    height: 30vh;
    position: relative;
    margin-top: 20px;
}

footer .foot{
    display: flex;
    flex-direction: column;
}

footer .foot a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding-top: 10px;
}

footer .foot a:hover{
    color: rgb(0, 101, 252);
}

footer #child1{
    display: flex;
}

footer #child2{
    display: flex;
    margin-left: 15%;
}

footer #child3{
    display: flex;
    margin-left: 16%;
}

footer h4{
    margin: 0;
}

footer #child1 div, 
footer #child2 div, 
footer #child3 div{
    display: flex;
    flex-direction: column;
    padding-top: 18px;
}